<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Должности</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<header class="w3-container w3-dark-grey"><h3>Внести должность в бд</h3></header>
        <div class="container-fluid">
            <div class="col-sm-12 col0-md-7">
                <div class="panel-body">

                    <form class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <label class="control-label">{{ field.label_tag }}</label>
                            <div>{{ field }}</div>
                        {% endfor %}
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-10">
                               <button type="submit" class="w3-btn w3-large w3-hover-green">Добавить</button>
                            </div>
                        </div>
                    </form>
                <div>
                    <a href="{% url 'tables:details_posts' %}" class="w3-btn w3-large w3-hover-blue" role="button">Вернуться</a>
                </div>
                </div>
            </div>
        </div>
</body>
</html>